.layouts-profile {
  .user-details {
    display: flex;
    width: 100%;
  }
  
  .names {
    display: flex;
    margin-left: 7px;
    align-items: flex-start;
    flex-flow: wrap;
    
    span.first {
      flex-direction: column;
      
      .name + .username {
        font-weight: 400;
      }
    }
  }
  
  .quick-links {
    margin: 12px 0 0 0;
    padding: 0;
    display: flex;
      
    a {
      display: flex;
      align-items: center;
      color: $primary;
      font-size: 0.9em;
      margin-right: 12px;
      
      &:last-of-type {
        margin-right: 0;
      }
      
      .d-icon {
        margin-right: 5px;
      }
      
      div {
        font-size: 0.9em;
      }
    }
  }
}
